[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/milesrout/base16-vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/milesrout/vim-coffee-script.git
[submodule "bundle/dcpu16-vim-syntax"]
	path = bundle/dcpu16-vim-syntax
	url = https://github.com/milesrout/dcpu16-vim-syntax.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/milesrout/rust.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-flagship"]
	path = bundle/vim-flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "bundle/swift.vim"]
	path = bundle/swift.vim
	url = https://github.com/milesrout/swift.vim.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = git@github.com:milesrout/vim-racket.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/milesrout/tabular.git
[submodule "bundle/yats.vim"]
	path = bundle/yats.vim
	url = https://github.com/milesrout/yats.vim
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/yajs.vim"]
	path = bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/wal.vim"]
	path = bundle/wal.vim
	url = https://github.com/dylanaraps/wal.vim
[submodule "bundle/vim-mbsync"]
	path = bundle/vim-mbsync
	url = https://github.com/chunkhang/vim-mbsync
[submodule "bundle/vim-dim"]
	path = bundle/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
